discord
pygithub
asyncio
googletrans
cyrtranslit
selenium
nltk
profanity_filter
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.0.0/en_core_web_md-2.0.0.tar.gz#egg=en_core_web_md==2.0.0